html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    gap: 20px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .logo img {
    max-width: 100px;
}

.header .info {
    text-align: right;
    font-size: 0.9em;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.casilla-fecha {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: center;
  min-width: 30px;
  min-height: 20px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#orden-trabajo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-titulo{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.info-general{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-ciut {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fechas {
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.fechasTrabajo{
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.section {
    margin-top: 20px;
}

.section-title {
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.field-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 48%;
}

.field label {
    font-weight: 700;
}

.field input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.important {
    background: #ffe8e8;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    color: #c33;
    margin-top: 20px;
    text-align: center;
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background: #f0f0f0;
    font-weight: 700;
}

.totals {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.totals .total {
    font-weight: 700;
}
